body { 
  margin: 2em;
}

input { 
  margin-right: 0.5em;
}

.collection {
  padding: 0 20px 20px;
}

.addButton {
  background: teal;
}

.collections {
  text-align: center;
  margin-top: 25px;
}

h4 {
  color: #02487B;
}

.categoryForm {
  text-align: center;
  margin-top: 15px;
}